release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Теплоизоляция</title>
  </head>
  <body>
    <div class="main-wrapper"><header class="header-area">
<div class="header-top container-1550 d-none d-lg-block">
<div class="row align-items-center">
      <div class="col-lg-6">
        <p class="header-area__description">Официальный дистрибьютор продукции ROCKWOOL</p>
      </div><div class="col-lg-6 d-flex align-itens-center justify-content-end"><a class="link-download" href="#" download><i class="icon-download"></i>Скачать презентацию</a>
      <div class="social-block"><a class="social-block__item" href="#"><i class="icon-vk"></i></a><a class="social-block__item" href="#"><i class="icon-instagram"></i></a><a class="social-block__item" href="#"><i class="icon-telegram"></i></a><a class="social-block__item" href="#"><i class="icon-whatsapp"></i></a><a class="social-block__item" href="#"><i class="icon-youtube"></i></a></div></div>
</div>
</div>
<div class="header-bottom">
<div class="container-1550">
<div class="row align-items-center">
      <div class="col-4 col-lg-2"><a class="logo" href="#">
          <picture>
            <source srcset="images/logo-mobile.png" media="(max-width: 991px)"><img class="lazyload" data-src="images/logo.png" alt="img">
          </picture></a></div>
      <div class="col-lg-6 d-none d-lg-block">
        <div class="main-menu">
          <nav>
            <ul>
              <li class="main-menu__link"><a href="#">Главная</a></li>
              <li class="main-menu__link active"><a href="#">Каталог</a></li>
              <li class="main-menu__link"><a href="#">Услуги</a></li>
              <li class="main-menu__link"><a href="#">Доставка и оплата</a></li>
              <li class="main-menu__link"><a href="#">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-8 col-lg-4">
        <div class="header-action header-action-flex align-items-center">
          <div class="header-phone d-flex"><a href="#" data-toggle="modal" data-target="#modalCallback"><i class="icon-phone"></i></a>
            <div class="d-none d-lg-flex flex-column align-items-end pl-10"><a class="link" href="tel:+73512807785">+7 351 280-77-85</a><a class="btn_callback" href="#" data-toggle="modal" data-target="#modalCallback">заказать звонок</a></div>
          </div><a class="header-search mr-10 d-none d-lg-block" href="#"><i class="icon-search"></i></a><div class="same-style-2 same-style-2-white same-style-2-font-dec header-cart">
<a class="cart-active" href="#">
<div class="position-relative"><i class="icon-shopping-cart"></i><span class="cart-active-count">02</span>
</div>
</a>
</div>
          <div class="same-style-2 main-menu-icon d-block d-lg-none"><a class="mobile-header-button-active" href="#"><span></span></a></div>
        </div>
      </div></div>
</div>
</div>
</header>
<!-- mobile header start -->
<div class="mobile-header-active mobile-header-wrapper-style">
<div class="clickalbe-sidebar-wrap"><a class="sidebar-close"><i class="icon-close"></i></a><div class="mobile-header-content-area">
<div class="mobile-search mobile-header-padding-border-1">
<form action="#" class="form-search search-form">
<input placeholder="Поиск..." type="text" class="form-search-input">
<button class="button-search btn-submit" type="submit"><i class="icon-search"></i></button>
</form>
</div>
<div class="mobile-menu-wrap mobile-header-padding-border-2">
<!-- mobile menu start -->
<nav>
<ul class="mobile-menu">
      <li class="main-menu__link"><a href="#">Главная</a></li>
      <li class="main-menu__link active"><a href="#">Каталог</a></li>
      <li class="main-menu__link"><a href="#">Услуги</a></li>
      <li class="main-menu__link"><a href="#">Доставка и оплата</a></li>
      <li class="main-menu__link"><a href="#">Контакты</a></li></ul>
</nav>
<!-- mobile menu end -->
</div>
<div class="mobile-contact-info mobile-header-padding-border-4">
<ul>
<li><a class="d-flex align-items-center" href="tel:+73512807785"><i class="icon-phone"></i>+7 (351) 280-77-85</a></li>
<li><a class="d-flex align-items-center" href="email:domostroy174@bk.ru"><i class="icon-mail"></i>domostroy174@bk.ru</a></li>
<li class="d-flex align-items-center"><i class="icon-location"></i>Челябинск, ул. 40 лет Победы, д. 31, офис 2</li>
</ul>
</div>
</div>
</div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
<div class="sidebar-cart-all">
      <div><a class="cart-close"><i class="icon-close"></i></a></div><div class="cart-content"><span class="title">Корзина</span>
      <div><ul><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li><li class="single-product-cart">
<div class="cart-img">
<a href="#">
<img class="lazyload" data-src="images/mini-cart.png" alt="img">
</a>
</div>
<div class="cart-title">
<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
<span>1 × 1 175 ₽</span>
</div>
<div class="cart-delete">
        <form action="" method="">
          <button type="submit"><i class="icon-bin"></i></button>
        </form></div>
</li></ul>
      </div><div class="cart-total">
<h4>Цена: <span>2 354 ₽</span></h4>
</div>
<div class="cart-checkout-btn">
<a class="btn-hover cart-btn-style" href="#">Оформить</a>
</div>
</div>
</div>
</div><div class="slider-area bg-gray-8">
<div class="w-100">
<div class="hero-slider-active-2 nav-style-1 nav-style-1-modify-2">
<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider1.png');">
<div class="row h-100 slider-animated-1">
<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
<div class="hero-slider-content-6 slider-content-hm9">
<p class="animated subtitle">Новинка</p>
<h1 class="animated title">Лайт Баттс Экстра</h1>
<p class="animated description">Экстрапрочные плиты. Мультифункциональное решение для теплоизоляции частного дома.</p>
<div>
<a class="animated btn" href="#">Подробнее</a>
</div>
</div>
</div>
<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
<div class="hm9-hero-slider-img">
<img class="animated lazyload" data-src="images/slider11.png" alt="img">
</div>
</div>
</div>
</div>
<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider1.png');">
<div class="row h-100 slider-animated-1">
<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
<div class="hero-slider-content-6 slider-content-hm9">
<p class="animated subtitle">Новинка</p>
<h2 class="animated title">Лайт Баттс Экстра</h2>
<p class="animated description">Экстрапрочные плиты. Мультифункциональное решение для теплоизоляции частного дома.</p>
<div>
<a class="animated btn" href="#">Подробнее</a>
</div>
</div>
</div>
<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
<div class="hm9-hero-slider-img">
<img class="animated lazyload" data-src="images/slider21.png" alt="img">
</div>
</div>
</div>
</div>
<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider3.png');">
<div class="row h-100 slider-animated-1">
<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
<div class="hero-slider-content-6 slider-content-hm9">
<p class="animated subtitle">Школа обучения</p>
<h2 class="animated title">Как правильно крыть крышу</h2>
<p class="animated description">Новый видеоурок от наших партнеров компании Rockwool. Посмотрите чтобы чему нибудь научиться.</p>
<div>
<a class="animated btn" href="#">подробнее</a>
</div>
</div>
</div>
<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
<div class="hm9-hero-slider-img">
<img class="animated lazyload" data-src="images/slider31.png" alt="img">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="service-area">
<div class="container">
<div class="service-wrap service-wrap-hm9 px-3">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<div class="single-service-wrap mb-30">
<div class="service-icon"><i class="icon-logistics"></i></div>
<div class="service-content">
<span>Доставка до объекта</span>
<span>Мы доставим Вам товар в нужном количестве по всей России.</span>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<div class="single-service-wrap mb-30">
<div class="service-icon"><i class="icon-license"></i></div>
<div class="service-content">
<span>Официальный представитель</span>
<span>Мы являемся официальными представителями заводов изготовителей</span>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<div class="single-service-wrap mb-30">
<div class="service-icon"><i class="icon-branding"></i></div>
<div class="service-content">
<span>Гарантия низкой цены</span>
<span>Мы гарантируем самую низкую цену. Нашли дешевле, позвоните нам.</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
      <div class="info-area pt-94 pb-88">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 pb-4 pb-lg-0 pt-lg-4"><img class="lazyload w-100" data-src="images/info-area.png" alt="img"></div>
            <div class="col-12 col-lg-9">
              <h2>Теплоизоляционные материалы</h2>
              <p>Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения дальнейших направлений развития. Повседневная практика показывает, что реализация намеченных плановых заданий играет важную роль в формировании существенных финансовых и административных условий. Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения систем массового участия. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-130">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="category-slider slider-default">
                <div><a class="category-item" href="#"><img data-lazy="images/category-item-1.png" alt="img"><span>Для кровли</span></a></div>
                <div><a class="category-item" href="#"><img data-lazy="images/category-item-1.png" alt="img"><span>Для кровли</span></a></div>
                <div><a class="category-item" href="#"><img data-lazy="images/category-item-1.png" alt="img"><span>Для кровли</span></a></div>
                <div><a class="category-item" href="#"><img data-lazy="images/category-item-1.png" alt="img"><span>Для кровли</span></a></div>
                <div><a class="category-item" href="#"><img data-lazy="images/category-item-1.png" alt="img"><span>Для кровли</span></a></div>
                <div><a class="category-item" href="#"><img data-lazy="images/category-item-1.png" alt="img"><span>Для кровли</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="delivery-area pt-37 pb-68">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="h1 text-center">Доставка по всей России</h2>
            </div>
            <div class="col-12 col-lg-8 pb-4 pb-lg-0"><img class="lazyload w-100" data-src="images/delivery-area.png" alt="img"></div>
            <div class="col-12 col-lg-4 d-flex align-items-center">
              <form class="form-calc"><span class="title">Сделаем расчёт доставки нашей продукции в ваш регион всего за 10 минут</span><span class="subtitle">Все расчёты произведем бесплатно</span>
                <input class="mb-18" type="text" placeholder="Введите контактные данные">
                <button class="btn-big-red w-100">Рассчитать</button><div class="checkbox mt-13">
<label>
<input type="checkbox" value="" checked>
<span class="cr"><img class="lazyload" data-src="images/check.svg" alt="img"></span>Я принимаю условия <a href="#">обработки данных</a></label>
</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-68 pb-170 pb-mob-20">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="h1 text-center mb-35">Наши партнеры</h2>
            </div>
            <div class="col-12">
              <div class="partners-slider slider-default">
                <div class="d-flex justify-content-center"><a href="#"><img data-lazy="images/p1.png" alt="img"></a></div>
                <div class="d-flex justify-content-center"><a href="#"><img data-lazy="images/p2.svg" alt="img"></a></div>
                <div class="d-flex justify-content-center"><a href="#"><img data-lazy="images/p1.png" alt="img"></a></div>
                <div class="d-flex justify-content-center"><a href="#"><img data-lazy="images/p2.svg" alt="img"></a></div>
                <div class="d-flex justify-content-center"><a href="#"><img data-lazy="images/p1.png" alt="img"></a></div>
                <div class="d-flex justify-content-center"><a href="#"><img data-lazy="images/p2.svg" alt="img"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="advantages-area d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="h1 text-center mb-42">Преимущества для наших клиентов</h2>
            </div>
            <div class="col-6 d-flex flex-column align-items-start">
              <h3 class="h1 mb-39">Для юридических<br>лиц</h3>
              <div class="mb-15 d-flex align-items-center"><img class="lazyload mr-18" data-src="images/advantage1.svg" alt="img"><span class="advantages__text">Персональный менеджер</span></div>
              <div class="mb-15 d-flex align-items-center"><img class="lazyload mr-18" data-src="images/advantage2.svg" alt="img"><span class="advantages__text">Удобная доставка</span></div>
              <div class="mb-15 d-flex align-items-center"><img class="lazyload mr-18" data-src="images/advantage3.svg" alt="img"><span class="advantages__text">Отсрочка платежа</span></div>
              <div class="mb-15 d-flex align-items-center"><img class="lazyload mr-18" data-src="images/advantage4.svg" alt="img"><span class="advantages__text">Индивидуальные цены</span></div>
            </div>
            <div class="col-6 d-flex flex-column align-items-end">
              <h3 class="h1 mb-39 text-right">Для розничных<br>покупателей</h3>
              <div class="mb-15 d-flex align-items-center"><span class="advantages__text">Гарантия низкой цены</span><img class="lazyload ml-18" data-src="images/advantage5.svg" alt="img"></div>
              <div class="mb-15 d-flex align-items-center"><span class="advantages__text">Доставка до объекта</span><img class="lazyload ml-18" data-src="images/advantage6.svg" alt="img"></div>
              <div class="mb-15 d-flex align-items-center"><span class="advantages__text">Бесплатная консультация</span><img class="lazyload ml-18" data-src="images/advantage7.svg" alt="img"></div>
              <div class="mb-15 d-flex align-items-center"><span class="advantages__text">Бонусы и скидки</span><img class="lazyload ml-18" data-src="images/advantage8.svg" alt="img"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-97 pb-135">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="h1 text-center mb-80 mb-mob-76">Теплоизоляционные материалы</h2>
            </div>
            <div class="col-12 col-lg-7 pb-4 pb-lg-0">
              <p class="mb-25">Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. </p>
              <blockquote class="mb-48">
                <p>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. </p>
              </blockquote><a class="btn" href="#">Подробнее</a>
            </div>
            <div class="col-12 col-lg-5">
              <div class="video-block">
                <div class="video-block__item"><iframe width="100%" height="248" src="https://www.youtube.com/embed/KGwWxZ-fgfk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <div class="video-block__bg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer-area">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 pb-3 pb-lg-5 d-flex justify-content-center justify-content-lg-start order-1"><a class="logo" href="#">
                <picture><img class="lazyload" data-src="images/logo.png" alt="img"></picture></a></div>
            <div class="col-12 col-lg-8 d-none d-lg-flex justify-content-end order-2">
              <ul class="d-flex navigation">
                <li><a class="footer-link-nav" href="#">Главная</a></li>
                <li><a class="footer-link-nav" href="#">Каталог</a></li>
                <li><a class="footer-link-nav" href="#">Услуги</a></li>
                <li><a class="footer-link-nav" href="#">Доставка и оплата</a></li>
                <li><a class="footer-link-nav" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-4 pb-34 d-flex flex-column align-items-center align-items-lg-start order-3"><span class="footer-title">Наш адрес</span>
              <p class="footer-text">Челябинск, ул. 40 лет Победы, д. 31, офис 2</p>
            </div>
            <div class="col-12 col-lg-8 d-flex justify-content-center justify-content-lg-end align-items-lg-start order-2 order-lg-4 pt-1 pt-lg-0 pb-5 pb-lg-0">
              <div class="social-block social-block_footer"><a class="social-block__item" href="#"><i class="icon-vk"></i></a><a class="social-block__item" href="#"><i class="icon-instagram"></i></a><a class="social-block__item" href="#"><i class="icon-telegram"></i></a><a class="social-block__item" href="#"><i class="icon-whatsapp"></i></a><a class="social-block__item" href="#"><i class="icon-youtube"></i></a></div>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column align-items-center align-items-lg-start order-4 order-lg-5 pb-3 pb-lg-0"><span class="footer-title">Телефон:</span><a class="footer-text footer-link" href="tel:+73512807785">+7 (351) 280-77-85</a></div>
            <div class="col-12 col-lg-8 d-flex justify-content-end align-items-end order-6"><a class="copyright footer-link" href="#">ООО ПКФ “Теплоизоляция” | политика обработки данных</a></div>
          </div>
        </div>
      </footer><!-- Modal -->
<div class="modal fade" id="modalCallback" tabindex="-1" role="dialog" aria-labelledby="modalCallbackTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalCallbackTitle">Заказать звонок</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
      <form action="" method="">
        <input class="mb-4 w-100" type="text" placeholder="Ваше имя">
        <input class="w-100" type="text" placeholder="Ваш телефон">
      </form></div>
<div class="modal-footer">
<button class="btn" "type="submit>Отправить</button>
</div>
</div>
</div>
</div>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/index.pug
extends base.pug
block content
	<div class="slider-area bg-gray-8">
		<div class="w-100">
			<div class="hero-slider-active-2 nav-style-1 nav-style-1-modify-2">
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider1.png');">
					<div class="row h-100 slider-animated-1">
						<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
							<div class="hero-slider-content-6 slider-content-hm9">
								<p class="animated subtitle">Новинка</p>
								<h1 class="animated title">Лайт Баттс Экстра</h1>
								<p class="animated description">Экстрапрочные плиты. Мультифункциональное решение для теплоизоляции частного дома.</p>
								<div>
									<a class="animated btn" href="#">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/slider11.png" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider1.png');">
					<div class="row h-100 slider-animated-1">
						<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
							<div class="hero-slider-content-6 slider-content-hm9">
								<p class="animated subtitle">Новинка</p>
								<h2 class="animated title">Лайт Баттс Экстра</h2>
								<p class="animated description">Экстрапрочные плиты. Мультифункциональное решение для теплоизоляции частного дома.</p>
								<div>
									<a class="animated btn" href="#">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/slider21.png" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider3.png');">
					<div class="row h-100 slider-animated-1">
						<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
							<div class="hero-slider-content-6 slider-content-hm9">
								<p class="animated subtitle">Школа обучения</p>
								<h2 class="animated title">Как правильно крыть крышу</h2>
								<p class="animated description">Новый видеоурок от наших партнеров компании Rockwool. Посмотрите чтобы чему нибудь научиться.</p>
								<div>
									<a class="animated btn" href="#">подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/slider31.png" alt="img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="service-area">
		<div class="container">
			<div class="service-wrap service-wrap-hm9 px-3">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								i(class="icon-logistics")
							</div>
							<div class="service-content">
								<span>Доставка до объекта</span>
								<span>Мы доставим Вам товар в нужном количестве по всей России.</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								i(class="icon-license")
							</div>
							<div class="service-content">
								<span>Официальный представитель</span>
								<span>Мы являемся официальными представителями заводов изготовителей</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								i(class="icon-branding")
							</div>
							<div class="service-content">
								<span>Гарантия низкой цены</span>
								<span>Мы гарантируем самую низкую цену. Нашли дешевле, позвоните нам.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	div(class="info-area pt-94 pb-88")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-3 pb-4 pb-lg-0 pt-lg-4")
					img(class="lazyload w-100" data-src="images/info-area.png" alt="img")
				div(class="col-12 col-lg-9")
					h2
						| Теплоизоляционные материалы
					p
						| Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения дальнейших направлений развития. Повседневная практика показывает, что реализация намеченных плановых заданий играет важную роль в формировании существенных финансовых и административных условий. Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения систем массового участия. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития.
	div(class="pb-130")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="category-slider slider-default")
						-for(var i = 0; i < 6; i++)
							div(class="")
								a(class="category-item" href="#")
									img(data-lazy="images/category-item-1.png" alt="img")
									span()
										| Для кровли
	div(class="delivery-area pt-37 pb-68")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="h1 text-center")
						| Доставка по всей России
				div(class="col-12 col-lg-8 pb-4 pb-lg-0")
					img(class="lazyload w-100" data-src="images/delivery-area.png" alt="img")
				div(class="col-12 col-lg-4 d-flex align-items-center")
					form(class="form-calc")
						span(class="title")
							| Сделаем расчёт доставки нашей продукции в ваш регион всего за 10 минут
						span(class="subtitle")
							| Все расчёты произведем бесплатно
						input(class="mb-18" type="text" placeholder="Введите контактные данные")
						button(class="btn-big-red w-100")
							| Рассчитать
						<div class="checkbox mt-13">
							<label>
								<input type="checkbox" value="" checked>
								<span class="cr"><img class="lazyload" data-src="images/check.svg" alt="img"></span>
								| Я принимаю условия <a href="#">обработки данных</a>
							</label>
						</div>
	div(class="pt-68 pb-170 pb-mob-20")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="h1 text-center mb-35")
						| Наши партнеры
				div(class="col-12")
					div(class="partners-slider slider-default")
						-for(var i = 0; i < 3; i++)
							div(class="d-flex justify-content-center")
								a( href="#")
									img(data-lazy="images/p1.png" alt="img")
							div(class="d-flex justify-content-center")
								a( href="#")
									img(data-lazy="images/p2.svg" alt="img")
	include components/advantages-area.pug
	include components/video-block.pug
